page-acceuil {

	.content,.entete{
		text-align: center;
	}
	.button{
		width: 35%;
		height: 6%;
		//border-radius:40px;
	// background-color:blue;
		//color:white;
		margin-top:30px;

	}
	.scroll .scroll-content{
		overflow:hidden;
	}
}
