page-consulter {

    .head{
        position: absolute;
        display: flex;
        padding-top: 30px;
        width: 100%;
       }
       #aligne{
        margin-left: 23%;
      }
      #menu{
        margin-left: 2%;
    }
    #img{
        margin-left: 20%;
        margin-right: 2%;
    }

    
}
