page-connexion {
.scroll .scroll-content{
	overflow:hidden;
}
/*.bac-img{
	background-image: url( ../assets/imgs/fond.jpg);
	background-repeat:no-repeat;
	background-position:fixed;
	margin-top: 11%;
	//background-size:cover;
}
.bac-img{
	background-image: linear-gradient(blue,white);
}*/
.img{
margin-left: 25%;
}
	.desc{
		margin-top: 15%;
		width: 90%; 
		margin-left: 5%;
	}
	.ondiv{
		border:1px solid;
	}

	
	.oublie{
	text-align: center;
	}
	.btn-log{
	width: 90%;
	}
	.btn-sig{
	width:90%;
	margin-top: 6vh;
	}
}