page-connexion {
.scroll .scroll-content{
	overflow:hidden;
}
/*.bac-img{
	background-image: url( ../assets/imgs/fond.jpg);
	background-repeat:no-repeat;
	background-position:fixed;
	margin-top: 11%;
	//background-size:cover;
}*/
	.desc{
	margin-top: 50px;
	width:75%;
	
	}
	.item{
		background-color: rgba(255,255,255,0.0);
	}
	.oublie{
	text-align: center;
	color:  #f53d3d;
	}
	.btn-log{
	width: 50%;
	}
	.btn-sig{
	width: 74%;
	margin-top: 6vh;
	}
	.tete{
		color:darkblue;
	}
}